@model Kitap

<form method="post">
    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">Kitap Türü Güncelle</h2>
            </hr>
        </div>
        <div class="mb-3">
            <label asp-for="KitapAdi" class="p-0"></label>
            <input asp-for="KitapAdi" class="form-control" />
            <div class="mt-2">
                <span asp-validation-for="KitapAdi" class="text-danger alert-danger"></span>
            </div>

        </div>

        <div class="mb-3">
            <label asp-for="Tanim" class="p-0"></label>
            <input asp-for="Tanim" class="form-control" />
            <div class="mt-2">
                <span asp-validation-for="Tanim" class="text-danger alert-danger"></span>
            </div>

        </div>

        <div class="mb-3">
            <label asp-for="Yazar" class="p-0"></label>
            <input asp-for="Yazar" class="form-control" />
            <div class="mt-2">
                <span asp-validation-for="Yazar" class="text-danger alert-danger"></span>
            </div>

        </div>

        <div class="mb-3">
            <label asp-for="Fiyat" class="p-0"></label>
            <input asp-for="Fiyat" class="form-control" />
            <div class="mt-2">
                <span asp-validation-for="Fiyat" class="text-danger alert-danger"></span>
            </div>

        </div>

        <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Kitap Türü Güncelle</button>

        <a asp-controller="Kitap" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
            Geri Dön
        </a>

    </div>

</form>

