@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:purple"><strong>Ömer Akkaya Kütüphane Projesi</strong></h1>
    <h1 class="display-4" style="color:purple"><strong>Online Kütüphane</strong></h1>
<br />
<br />
<p><img src="/img/4.1407fd059bc253eb51b014602d886a85.jpg"/></p>

</div>
