@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">
    <br />
    <br />
<h2 style="color:purple">@ViewData["Title"]</h2>

<br />
<br />
<h3>Sarıtoka Caddesi,Uçangel Sokak,Fırtına Apartmanı No:14/7</h3>
<h3>DALTEPE/İSTANLUB</h3>
<br />
<h3>E-posta Adresimiz:</h3>
    <h3><a href="mailto:omerakkaya.ryl@gmail.com">omerakkaya.ryl@gmail.com</a></h3>
</div>